/* Background color of non-selected tabs */
.tabbrowser-tab:not([selected]) .tab-content {
    background: lightgrey;
    transition: background-color 0.3s ease-out !important;
}

/* Highlight non-selected tabs on mouseover */
.tabbrowser-tab:not([selected]):hover .tab-content {
   background-color: #e8e8e8 !important;
   transition: background-color 0.3s !important;
}

/* Background color of the selected tab */
.tabbrowser-tab[selected="true"] .tab-content {
   background: #f9f9f9 !important;
   transition: background-color 0.3s !important;
}

/* Text color of non-active tabs */ 
.tabbrowser-tab .tab-label {
   color: black !important; 
}

/* Design of close non-selected tab icon on mouseover */
.tabbrowser-tab .close-icon {
   fill: #000000 !important;
 }

/* Design of close tab icon on mouseover */
 .tabbrowser-tab .close-icon:hover {
   fill: white !important;
   background-color: #c00 !important;
   width: 19px !important;
   margin: 1px;
   border-radius: 30px;
 }

/* Background color of the new-tab button icon */
.tabs-newtab-button .toolbarbutton-icon {
   background-color: lightgray !important;
   transition: 0.2s ease-in;
}

/* Background color of the new-tab button icon on mouseover */
.tabs-newtab-button:hover .toolbarbutton-icon {
   background-color: #e2e2e2 !important;
   transition: 0.2s ease-out;
}

/* Background color of the new-tab button icon when there's an overflow of tabs */
#tabbrowser-tabs + #new-tab-button .toolbarbutton-icon {
   background-color: lightgray !important;
   transition: 0.2s ease-in;
}

/* Background color of the new-tab button icon when there's an overflow of tabs on mouseover */
#tabbrowser-tabs + #new-tab-button:hover .toolbarbutton-icon { 
   background-color: #e2e2e2 !important;
   transition: 0.2s ease-out;
}

/* Background color of the up/down buttons when there's an overflow of tabs */
.scrollbutton-up, .scrollbutton-down { 
   background-color: lightgray !important;
   transition: 0.2s ease-in;
}

/* Background color of the up/down buttons when there's an overflow of tabs - fixing no color when there's no more up/down to go */
#tabbrowser-tabs[overflow="true"] > .tabbrowser-arrowscrollbox {
   background-color: lightgray !important;
   transition: 0.2s ease-in;
}

/* Background color of the up/down buttons when there's an overflow of tabs on mouseover */
.scrollbutton-up:hover, .scrollbutton-down:hover {
   background-color: #e8e8e8 !important;
   transition: 0.2s ease-in;
}

/* Background color of the all tabs button (appears when there's an overflow of tabs) */
#tabbrowser-tabs ~ #alltabs-button .toolbarbutton-icon { 
   background-color: lightgray !important;
   transition: 0.2s ease-in;
}

/* Background color of the all tabs button (appears when there's an overflow of tabs) on mouseover */
#tabbrowser-tabs ~ #alltabs-button:hover .toolbarbutton-icon { 
   background-color: #e2e2e2 !important;
   transition: 0.2s ease-out;
}
